@use '@/app/scss/useMain' as *;

.entityView__labels {
    display: flex;
    flex-wrap: wrap;
}

.editableEntity__controls {
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px solid black;

    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        margin-left: $size-2;
        height: 100%;
        width: 100%;
    }
}

.editableEntity__view {
    border: 1px solid black;
}